/*HOME CSS*/

body, html {background-color:grey; width:100%; height:100%; overflow:hidden;}

/*Wrapper*/
#wrapper {width:100%; height:100%;}

/*Header: same throughout*/
#header {width:100%; height:15%;}
#logo {width:10%; height:100%; float:left;}
#logo2 {width:20%; height:100%; float:left;}
#altair {width:14%; height:40%; float:left;}
#ezio {width:14%; height:40%; float:left;}
#connor {width:14%; height:40%; float:left;}
#edward {width:14%; height:40%; float:left;}
#comingsoon {width:14%; height:40%; float:left;}
#gif {width:70%; height:60%; float:left;}
.headerimg {width:100%; height:100%;}

/*Main*/
#main {width:100%; height:85%; background-image:url('../image/header.jpg'); background-repeat:no-repeat; background-size:100% 100%;}

#top {width:100%; height:33%;}
#tleft {width:50%; height:100%; float:left;}
#game1 {width:50%; height:100%; float:right; background-color:white;}
#tright {width:50%; height:100%; float:right;}
#game2 {width:50%; height:100%; float:right; background-color:white;}

#middle{width:100%; height:33%;}
#mleft {width:50%; height:100%; float:left;}
#signup {width:50%; height:100%; float:left; background-color:white;}
#mright {width:50%; height:100%; float:right;}
#coming{width:50%; height:100%; float:left; background-color:white;}

#bottom {width:100%; height:33%;}
#bleft {width:50%; height:100%; float:left;}
#game3 {width:50%; height:100%; float:right; background-color:white;}
#bright {width:50%; height:100%; float:right;}
#game4 {width:50%; height:100%; float:right; background-color:white;}